name: Tests

on:
  push:

jobs:
  pytest:
    name: Pytest (tests)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -r requirements.txt
          pip install pytest==9.0.2

      - name: Install package
        run: |
          pip install .

      - name: Run MyPy
        run: |
          make pytest
